body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 1, 31);
    color: #fff;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.movie-info {
    max-width: 600px;
    margin-left: 300px;
}

.movie-poster img {
    max-width: 300px;
    margin-left: 40px;
}

h1 {
    font-size: 32px;
    margin-top: 0;
}

.synopsis {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.details {
    font-size: 14px;
    margin-bottom: 10px;
}

    .details span {
        margin-right: 10px;
        margin-left: 30px;
    }

.cast,
.crew {
    font-size: 14px;
    margin-bottom: 5px;
}

.btn {
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 10px;
    transition: all 0.6s ease;
    border-radius: 60px;
}

.btn-2 {
    border: 3px rgb(255, 255, 255);
}

.btn:hover {
    background-color: rgb(112, 112, 112);
    box-shadow: 0 0 28px var(--color);
    border-color: var(--color);
}

header {
    background-color: #000;
    padding: 30px;
}
