@page
@model Vopss.Pages.AccionModel
@{
}
<link href="~/css/Accion.css" rel="stylesheet" />




    <div class="contenedor">

        <a href="/Categorias" class="btn btn-formulario bt-2">Regresar  </a>

    </div>


<br>
<br>
<div class="noa">
    <button> <h1>No olvides tus palomitas  </h1></button>
    <br>
</div>
<center>

    <video contros src="/img/p.mp4" width="1080px" height="570px" controls autoplay></video>

</center>
<body>

    
    <br>
    <div class="gallery">
        <a href="enlace1.html"><img src="/img/Accion 1.jpg" alt="imagen 1"></a>
        <a href="enlace2.html"><img src="/img/Accion 2.jpg" alt="Imagen 2"></a>
        <a href="enlace3.html"><img src="/img/Accion 3.jpg" alt="Imagen 3"></a>
        <a href="enlace1.html"><img src="/img/Accion 4.jpg" alt="Imagen 4"></a>
        <a href="enlace2.html"><img src="img/Accion 5.jpg" alt="Imagen 5"></a>
        <a href="enlace3.html"><img src="img/Accion 6.jpg" alt="Imagen 6"></a>
        <a href="enlace1.html"><img src="img/Accion 7.jpg" alt="Imagen 7"></a>
        <a href="enlace2.html"><img src="img/Accion 8.jpg" alt="Imagen 8"></a>
        <a href="enlace3.html"><img src="img/Accion 9.jpg" alt="Imagen 9"></a>
        <a href="enlace1.html"><img src="img/Accion 10.jpg" alt="Imagen 10"></a>
        <a href="enlace2.html"><img src="img/Accion 11.jpg" alt="Imagen 11"></a>
        <a href="enlace3.html"><img src="img/Accion 12.jpg" alt="Imagen 12"></a>
        <a href="enlace1.html"><img src="img/Accion 13.jpg" alt="Imagen 13"></a>
        <a href="enlace2.html"><img src="img/Accion 14.jpg" alt="Imagen 14"></a>
        <a href="enlace3.html"><img src="img/Accion 15.jpg" alt="Imagen 15"></a>
        <a href="enlace1.html"><img src="img/Accion 16.jpg" alt="Imagen 16"></a>
        <a href="enlace2.html"><img src="img/Accion 17.jpg" alt="Imagen 17"></a>
        <a href="enlace3.html"><img src="img/Accion 18.jpg" alt="Imagen 18"></a>
        <a href="enlace1.html"><img src="img/Accion 19.jpg" alt="Imagen 19"></a>
        <a href="enlace2.html"><img src="img/Accion 20.jpg" alt="Imagen 20"></a>
        <a href="enlace3.html"><img src="img/Accion 21.jpg" alt="Imagen 21"></a>
        <a href="enlace1.html"><img src="img/Accion 22.jpg" alt="Imagen 22"></a>
        <a href="enlace2.html"><img src="img/Accion 23.jpg" alt="Imagen 23"></a>
        <a href="enlace3.html"><img src="img/Accion 24.jpg" alt="Imagen 24"></a>
        <a href="enlace1.html"><img src="img/Accion 25.jpg" alt="Imagen 25"></a>

    </div>
</body>
