@page
@model Vopss.Pages.ayudaaModel
@{
}
<link href="~/css/Ayuda.css" rel="stylesheet" />




<div class="top-left-button">
    <a href="/Index" class="back-button">Regresar</a>
</div>
<br>
<br>



    <div class="notification-area">
        <div class="message">

            <textarea placeholder="Escriba el incobveniente que tenga le aremos saber la solución por medio de su correo"></textarea>


            <input type="email" placeholder="Correo electrónico" />


            <button type="submit">Enviar</button>
        </div>




    </div>
    </div>

