@page
@model Vopss.Pages.CienciaModel
@{
}
<link href="~/css/Ciencia ficcion.css" rel="stylesheet" />



    <div class="contenedor">

        <a href="/Categorias" class="btn btn-formulario bt-2">Regresar  </a>

    </div>

<br>
<br>
<div class="noa">
    <button> <h1>Nada es imposible </h1></button>
</div>
<br>
<br>

<center>

    <video contros src="/img/El astronauta _ Tráiler oficial _ Netflix (1080p).mp4" width="1080px" height="620" controls autoplay></video>

</center>

<body>

  
    <br>
    <div class="gallery">
        <a href="enlace1.html"><img src="/img/ficcion 1.jpg" alt="imagen 1"></a>
        <a href="enlace2.html"><img src="/img/ficcion 2.jpg" alt="Imagen 2"></a>
        <a href="enlace3.html"><img src="/img/ficcion 3.jpg" alt="Imagen 3"></a>
        <a href="enlace1.html"><img src="/img/ficcion 4.jpg" alt="Imagen 4"></a>
        <a href="enlace2.html"><img src="img/figcion 5.jpg" alt="Imagen 5"></a>
        <a href="enlace3.html"><img src="img/ficcion 6.jpg" alt="Imagen 6"></a>
        <a href="enlace1.html"><img src="img/figcion 7.jpg" alt="Imagen 7"></a>
        <a href="enlace2.html"><img src="img/ficcion 8.jpg" alt="Imagen 8"></a>
        <a href="enlace3.html"><img src="img/ficcion 9.jpg" alt="Imagen 9"></a>
        <a href="enlace1.html"><img src="img/ficcion 10.jpg" alt="Imagen 10"></a>
        <a href="enlace2.html"><img src="img/ficcion 11.jpg" alt="Imagen 11"></a>
        <a href="enlace3.html"><img src="img/ficcion 12.jpg" alt="Imagen 12"></a>
        <a href="enlace1.html"><img src="img/ficcion 13.jpg" alt="Imagen 13"></a>
        <a href="enlace2.html"><img src="img/ficcion 14.jpg" alt="Imagen 14"></a>
        <a href="enlace3.html"><img src="img/ficion 15.jpg" alt="Imagen 15"></a>
        <a href="enlace1.html"><img src="img/ficcion 16.jpg" alt="Imagen 16"></a>
        <a href="enlace2.html"><img src="img/ficcion 17.jpg" alt="Imagen 17"></a>
        <a href="enlace3.html"><img src="img/ficcion 18.jpg" alt="Imagen 18"></a>
        <a href="enlace1.html"><img src="img/ficcion 19.jpg" alt="Imagen 19"></a>
        <a href="enlace2.html"><img src="img/ficcion 20.jpg" alt="Imagen 20"></a>
        <a href="enlace3.html"><img src="img/ficcion 21.jpg" alt="Imagen 21"></a>
        <a href="enlace1.html"><img src="img/ficcion 22.jpg" alt="Imagen 22"></a>
        <a href="enlace2.html"><img src="img/ficcion 23.jpg" alt="Imagen 23"></a>
        <a href="enlace3.html"><img src="img/ficcion 24.jpg" alt="Imagen 24"></a>
        <a href="enlace1.html"><img src="img/ficcion 25.jpg" alt="Imagen 25"></a>

    </div>
</body>