@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<head>
 
    <link rel="stylesheet" href="~/css/site.css">
    
</head>
<body>

   


    <main>

        <br>
        <h2>Bienvenido a Vopss, la mejor pagina de streaming para peliculas</h2>
        <br><br>

        <p>  Sabemos que te encantará, Vopss sabe que eres alguien muy especial, así que te daremos un descuento del 50% noo te quedes sin ver las películas más recientes</p>
        <br><br> <br>


        <div class="noa">
            <button> <h1>Proximo estreno </h1></button>
        </div>
        </div>
        <br><br>

        <body>

            <center>
                <video contros src="/img/Y2meta.app-Deadpool & Wolverine _ Tráiler Oficial _ Doblado-(1080p).mp4" width="1080px" height="600" controls autoplay></video>
            </center>
        </body>
        <br>  <br>  <br>  <br>
        <ul>

            <div class="gallery">

                <img src="img/aullido.jpg" alt="Descripción de la imagen 2">
                <img src="img/karate-kid-38575.jpg" alt="Descripción de la imagen 3">
                <img src="img/Animacion 7.jpg" alt="Descripción de la imagen 3">
                <img src="img/terror 11.jpg" alt="Descripción de la imagen 3">
                <img src="img/Accion 13.jpg" alt="Descripción de la imagen 3">
                <img src="img/romance 16.jpg" alt="Descripción de la imagen 3">
                <img src="img/Accion 8.jpg" alt="Descripción de la imagen 3">
                <img src="img/Accion 14.jpg" alt="Descripción de la imagen 3">

                <br><br>
            </div>
        </ul>
        <br><br><br><br>
        <div class="contenedor">

            <a href="/Categorias" class="btn btn-formulario bt-2">Ver mas  <span></span></a>

        </div>

    </main>
    <footer>

        <p>noamnieto7@gmail.com</p>
        <p>Por cualquier duda, consulte <a href="#">Legal</a> y <a href="#">Términos y condiciones</a>.</p>

        <p>Colaboradores:</p>

        <p>HBO<p>
        <p>NETFLIX<p>
        <p>PRIME VIDEO<p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

