@page
@model Vopss.Pages.notiModel
@{
}
<link href="~/css/notificasiones.css" rel="stylesheet" />

<body>
<head>
   
    <link rel="stylesheet" href="notificasiones.css">
    
</head>

    <div class="top-left-button">
        <a href="/Index">Regresar</a>
    </div>



    <br>
    <br>
    <br>
    <div class="notification-area">
        <div class="message">
            <p>Hola usuario por el momento no cuentas con ninguna notificacion</p>
        </div>
        <div class="illustration">
            <img src="/img/pngwing.com.png" alt="Ilustración">
        </div>
    </div>
    </div>
    </body>
