@page
@model Vopss.Pages.RomanceModel
@{
}

<link href="~/css/romance.css" rel="stylesheet" />

<div class="contenedor">

    <a href="/Categorias" class="btn btn-formulario bt-2">Regresar  </a>

</div>


<br>
<br>
<div class="noa">
    <button> <h1>¿Y si le mandas un mensaje?</h1></button>
</div>

<br><br>
<center>

    <video contros src="/img/Look Both Ways _ Official Trailer _ Netflix (1080p).mp4" width="1080px" height="620" controls autoplay></video>
</center>

<body>

    
    <br>
    <div class="gallery">
        <a href="enlace1.html"><img src="/img/romance 1.jpg" alt="imagen 1"></a>
        <a href="enlace2.html"><img src="/img/romance 2.jpg" alt="Imagen 2"></a>
        <a href="enlace3.html"><img src="/img/romance 3.jpg" alt="Imagen 3"></a>
        <a href="enlace1.html"><img src="/img/romance 4.jpg" alt="Imagen 4"></a>
        <a href="enlace2.html"><img src="img/romance 5.jpg" alt="Imagen 5"></a>
        <a href="enlace3.html"><img src="img/romance 6.jpg" alt="Imagen 6"></a>
        <a href="enlace1.html"><img src="img/romance 7.jpg" alt="Imagen 7"></a>
        <a href="enlace2.html"><img src="img/romance 8.jpg" alt="Imagen 8"></a>
        <a href="enlace3.html"><img src="img/romance 9.jpg" alt="Imagen 9"></a>
        <a href="enlace1.html"><img src="img/romance 10.jpg" alt="Imagen 10"></a>
        <a href="enlace2.html"><img src="img/romance 11.jpg" alt="Imagen 11"></a>
        <a href="enlace3.html"><img src="img/romance 12.jpg" alt="Imagen 12"></a>
        <a href="enlace1.html"><img src="img/romance 13.jpg" alt="Imagen 13"></a>
        <a href="enlace2.html"><img src="img/romance 14.jpg" alt="Imagen 14"></a>
        <a href="enlace3.html"><img src="img/romance 15.jpg" alt="Imagen 15"></a>
        <a href="enlace1.html"><img src="img/romance 16.jpg" alt="Imagen 16"></a>
        <a href="enlace2.html"><img src="img/romance 17.jpg" alt="Imagen 17"></a>
        <a href="enlace3.html"><img src="img/romance 18.jpg" alt="Imagen 18"></a>
        <a href="enlace1.html"><img src="img/romance 19.jpg" alt="Imagen 19"></a>
        <a href="enlace2.html"><img src="img/romance 20.jpg" alt="Imagen 20"></a>
        <a href="enlace3.html"><img src="img/romance 21.jpg" alt="Imagen 21"></a>
        <a href="enlace1.html"><img src="img/romance 22.jpg" alt="Imagen 22"></a>
        <a href="enlace2.html"><img src="img/romance 23.jpg" alt="Imagen 23"></a>
        <a href="enlace3.html"><img src="img/romance 24.jpg" alt="Imagen 24"></a>
        <a href="enlace1.html"><img src="img/romance 25.jpg" alt="Imagen 25"></a>

    </div>
</body>