@page
@model Vopss.Pages.T_1Model
@{
}

<link href="~/css/T 1.css" rel="stylesheet" />

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="contenedor">

        <a href="/Terror" class="btn btn-formulario bt-2">Regresar  </a>

    </div>


<body>
    <div class="container">

        <div class="movie-poster">

            <img src="img/terror1.jpg" alt="The Taking (2014)">

            <br> 
        </div>
        <p class="details">
            <span class="genres">Géneros:Terror</span> 
            <span class="rating">Rating:6.4/10</span>
            <span class="country">País:USA</span>
            <span class="release-date">Salida:2020</span>
        </p>
        <div class="movie-info">
            <h1>The Taking (2014)</h1>
            <p class="synopsis">Sinopsis: <br>  Lo que comienza como un documental médico sobre la degradación de Deborah Logan durante la enfermedad de Alzheimer y las luchas de su hija como cuidadora degenera en un retrato del furor de la demencia en su forma más aterradora. Eventos espeluznantes comienzan a plagar la familia y allegados y una malevolencia indescriptible amenaza con acabar con la cordura de todos ellos..</p>

            <p class="cast">Actores: Andrea Riseborough, Christopher Abbott, Jennifer Jason Leigh, Sean Bean, Tuppence Middleton, Rossif Sutherland</p>
            <p class="crew">Director: Christopher Nolte Smits Rob Cotterill Brandon Cronenberg Brandon Cronenberg Caitlin Cronenberg Danielle Depeyre</p>
        </div>
    </div>
    <center>

        <video contros src="/img/" width="1080px" height="620px" controls autoplay></video>

    </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>