@page
@model Vopss.Pages.T_2Model
@{
}

<link href="~/css/T 2.css" rel="stylesheet" />

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="contenedor">

    <a href="/Terror" class="btn btn-formulario bt-2">Regresar  </a>

</div>


<body>
    <div class="container">

        <div class="movie-poster">

            <img src="img/terror 2.jpg" alt="2">

            <br>
        </div>
        <p class="details">
            <span class="genres">Géneros:Terror</span>
            <span class="rating">Rating:6.8/10</span>
            <span class="country">País:USA</span>
            <span class="release-date">Salida:2021</span>
        </p>
        <div class="movie-info">
            <h1>Nightman: La sombra del mal</h1>
            <p class="synopsis">Sinopsis: <br> Una joven embarazada descubre que aparentemente perfecto novio puede que sea un peligroso sonámbulo cuando se entera de extrañas desapariciones y asesinatos que tienen lugar en la región.</p>

            <p class="cast">Actores: Zara Devlin Eoin Duffy Mark Huberman Áine Ní Laoghaire Maeve Leonard Meabh Maguire Jace Bayley Kennedy Noor "Rize" Sadar </p>
            <p class="crew">Director: Cronenberg Danielle Depeyre</p>
        </div>
    </div>
    <center>

        <video contros src="/img/" width="1080px" height="620px" controls autoplay></video>

    </center>
</body>