@page
@model Vopss.Pages.T_3Model
@{
}


<link href="~/css/T 3.css" rel="stylesheet" />

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="contenedor">

    <a href="/Terror" class="btn btn-formulario bt-2">Regresar  </a>

</div>


<body>
    <div class="container">

        <div class="movie-poster">

            <img src="img/terror 3.jpg" alt="3">

            <br>
        </div>
        <p class="details">
            <span class="genres">Géneros:Terror</span>
            <span class="rating">Rating:5.8/10</span>
            <span class="country">País:USA</span>
            <span class="release-date">Salida:2014</span>
        </p>
        <div class="movie-info">
            <h1>Clown (2014)</h1>
            <p class="synopsis">Sinopsis: <br> Jack es un adorable padre, que decide darle una sorpresa a su hijo por su sexto cumpleaños. Buscando una idea original encuentra un traje de payaso y se lo prueba pensando que causará sensación el día de la celebración. Pero lo que pensaba que sería el mejor día en la vida del pequeño pronto se convertirá en toda una pesadilla, cuando descubran que el traje está maldito y convierte en asesinos a sus portadores.</p>

            <p class="cast">Actores: Peter Stormare Laura Allen Elizabeth Whitmere Christian Distefano John MacDonald Chuck Shamata Andy Powers Sarah Scheffer Claudia Jurt Julia Long Matthew Stefiuk Robert Reynolds </p>
            <p class="crew">Director: Jodi Larratt Abigail Lieff Jocelyn Deighton Amy Balaton Eli Roth Lucas Kelly Jennie Esnard </p>
        </div>
    </div>
    <center>

        <video contros src="/img/" width="1080px" height="620px" controls autoplay></video>

    </center>
</body>