@page
@model Vopss.Pages.T_4Model
@{
}


<link href="~/css/T 4.css" rel="stylesheet" />

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="contenedor">

    <a href="/Terror" class="btn btn-formulario bt-2">Regresar  </a>

</div>


<body>
    <div class="container">

        <div class="movie-poster">

            <img src="img/terrror 4.jpg" alt="3">

            <br>
        </div>
        <p class="details">
            <span class="genres">Géneros:Terror</span>
            <span class="rating">Rating:7.8/10</span>
            <span class="country">País:USA</span>
            <span class="release-date">Salida:2012</span>
        </p>
        <div class="movie-info">
            <h1>Sinister (2012)</h1>
            <p class="synopsis">Sinopsis: <br>Ellison (Ethan Hawke, 'Gattaca'), es un periodista especializado en escribir artículos y novelas sobre casos de crímenes célebres. Para poder dedicarse a esta tarea en cuerpo y alma, ha instaurado una sistema de vida itinerante un tanto particular con su familia: se trasladan todos juntos de condado en condado para instalarse durante un tiempo en el lugar de los hechos y así poder investigar en profundidad cada uno de los casos. Una de estas investigaciones le llevará a una casa donde toda la familia murió asesinada.</p>

            <p class="cast">Actores:Ethan Hawke Juliet Rylance Vincent D'Onofrio James Ransone Fred Dalton Thompson Clare Foley Michael Hall D'Addario Victoria Leigh </p>
            <p class="crew">Director: Eli Roth Lucas Kelly Jennie Esnard </p>
        </div>
    </div>
    <center>

        <video contros src="/img/" width="1080px" height="620px" controls autoplay></video>

    </center>
</body>