@page
@model Vopss.Pages.terrorModel
@{
}
<link href="~/css/Terror.css" rel="stylesheet" />



<head>
    <title>Terror</title>

</head>



    <div class="contenedor">

        <a href="/Categorias" class="btn btn-formulario bt-2">Regresar  </a>

    </div>


<br>
<br>
<div class="noa">
    <button> <h1>Ya estan listas tus noches de horror </h1></button>
</div>
<br>
<center>

    <video contros src="/img/Never Let Go (2024) Official Trailer – Halle Berry (1440p).mp4" width="1080px" height="600px" controls autoplay></video>
</center>

<body>

    <br>
   
    <br>
    <div class="gallery">
        <a href="/T 1"><img src="/img/terror1.jpg" alt="imagen 1"></a>
        <a href="/T 2"><img src="/img/terror 2.jpg" alt="Imagen 2"></a>
        <a href="/T 3"><img src="/img/terror 3.jpg" alt="Imagen 3"></a>
        <a href="/T 4"><img src="/img/terrror 4.jpg" alt="Imagen 4"></a>
        <a href="/T 5"><img src="img/terror 5.jpg" alt="Imagen 5"></a>
        <a href="enlace3.html"><img src="img/terror 6.jpg" alt="Imagen 6"></a>
        <a href="enlace1.html"><img src="img/teror 7.jpg" alt="Imagen 7"></a>
        <a href="enlace2.html"><img src="img/terror 8.jpg" alt="Imagen 8"></a>
        <a href="enlace3.html"><img src="img/terror 9.jpg" alt="Imagen 9"></a>
        <a href="enlace1.html"><img src="img/terror 10.jpg" alt="Imagen 10"></a>
        <a href="enlace2.html"><img src="img/terror 11.jpg" alt="Imagen 11"></a>
        <a href="enlace3.html"><img src="img/terror 12.jpg" alt="Imagen 12"></a>
        <a href="enlace1.html"><img src="img/terror 13.jpg" alt="Imagen 13"></a>
        <a href="enlace2.html"><img src="img/terrror 14.jpg" alt="Imagen 14"></a>
        <a href="enlace3.html"><img src="img/terror 15.jpg" alt="Imagen 15"></a>
        <a href="enlace1.html"><img src="img/terror 16.jpg" alt="Imagen 16"></a>
        <a href="enlace2.html"><img src="img/terror 17.jpg" alt="Imagen 17"></a>
        <a href="enlace3.html"><img src="img/terror 18.jpg" alt="Imagen 18"></a>
        <a href="enlace1.html"><img src="img/terror 19.jpg" alt="Imagen 19"></a>
        <a href="enlace2.html"><img src="img/terror 20.jpg" alt="Imagen 20"></a>
        <a href="enlace3.html"><img src="img/terror 21.jpg" alt="Imagen 21"></a>
        <a href="enlace1.html"><img src="img/terror 22.jpg" alt="Imagen 22"></a>
        <a href="enlace2.html"><img src="img/terror 23.jpg" alt="Imagen 23"></a>
        <a href="enlace3.html"><img src="img/terror 24.jpg" alt="Imagen 24"></a>
        <a href="enlace1.html"><img src="img/terror 25.jpg" alt="Imagen 25"></a>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
